$ladyColor: #d434fe;

.topic-component {
  h4 {
    color: #fff;
    font-family: Clash Display;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    .topic-hero-color {
      color: $ladyColor;
    }
  }
}

@media (max-width: 960px) {
  .topic-component {
    h4 {
      font-size: 1.4rem;
      line-height: 133%;
    }
  }
}
